<launch>
  <include file="$(find boxer_description)/launch/description.launch" />

  <param name="use_gui" value="true"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find boxer_viz)/rviz/model.rviz" />

  <node name="robot_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
