<?xml version="1.0"?>
<launch>
    <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find fused_odometry)/config/laser_fused.yaml" />
    </node>
</launch>
